.btn-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg:    #1900ff !important;
    --bs-btn-border-color: #1900ff;
}

.btn-primary:hover{
    --bs-btn-color: #000000 !important;
    --bs-btn-bg: #fff !important;
    --bs-btn-border-color: #000000 !important;
}

.btn-outline-primary {
    --bs-btn-color: #1900ff !important;
    --bs-btn-border-color: #00ffff !important;
}


.btn-outline-primary:hover{
    --bs-btn-color: #000000 !important;
    --bs-btn-bg: #fff !important;
    --bs-btn-border-color: #000000 !important;
    
}

.navbar{
    border-color: #0b0070 !important;
    background-color: #0b0070 !important;
}

.card {
    transition: transform 0.3s ease !important;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px #0b0070 !important;
}

.img-fluid{
    transition: transform 0.3s ease !important;
}

.img-fluid:hover{
    transform: scale(1.03) !important; 
    box-shadow: 0 10px 20px #0b0070 !important;
}

.hero-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url('/imagenes/grandes/klx6o5-052562468c83917f213d0b42939824bf.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 4rem 2rem;
    border-radius: 15px;
}
